<%- include('./partials/Head') %>
<div id="body-home">
    <div class="header">
        <h4>Quick Options</h4>
        <hr />
    </div>
    <div class="row mb-2">
        <div class="col">
            <form action="/" class="login-home">
                <h3>Please Login Or Register</h3>
                <div>
                    <button>Login</button>
                    <button>Rigester</button>
                </div>
            </form>
        </div>
        <div class="col col-5 top-category">
            <h3>Top Categories</h3>
            <div>
                <a href="#">
                    <i class="fas fa-code"></i>
                    <span>Development</span>
                </a>
                <a href="#">
                    <i class="fas fa-chart-simple"></i>
                    <span>Business</span>
                </a>
                <a href="#">
                    <i class="fas fa-pen"></i>
                    <span>Design</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fas fa-chart-line"></i>
                    <span>Marketing</span>
                </a>
                <a href="#">
                    <i class="fas fa-music"></i>
                    <span>Music</span>
                </a>
                <a href="#">
                    <i class="fas fa-camera"></i>
                    <span>Photography</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <span>Software</span>
                </a>
                <a href="#">
                    <i class="fas fa-vial"></i>
                    <span>Science</span>
                </a>
            </div>
        </div>
        <div class="col col-3 popular-topics">
            <h3>Popular Topics</h3>
            <div>
                <a href="#">
                    <i class="fab fa-html5"></i>
                    <span>Html</span>
                </a>
                <a href="#">
                    <i class="fab fa-css3"></i>
                    <span>Css</span>
                </a>
                <a href="#">
                    <i class="fab fa-js"></i>
                    <span>Javascript</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fab fa-react"></i>
                    <span>React</span>
                </a>
                <a href="#">
                    <i class="fab fa-php"></i>
                    <span>PHP</span>
                </a>
                <a href="#">
                    <i class="fab fa-bootstrap"></i>
                    <span>Bootstrap</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-3 text-center Tutor">
            <h3 class="text-center">®️🍥 Become A Tutor 🍥®️</h3>
            <div>
                <p class="text-center">Choose The Best Tutor For You</p>
                <h4>Or</h4>
                <p>You Have Ability To Became A Tutor To Teach</p>

                <a href="/">Get Started</a>
            </div>
        </div>
    </div>

    <div class="latest-courses">
        <h4>Latest Courses</h4>
        <hr />
    </div>

</div>

<%- include('./partials/Footer') %>
