<aside>
    <form action="/">
        <h3>Please Login Or Register</h3>
        <div>
            <button>Login</button>
            <button>Rigester</button>
        </div>
    </form>

    <div>
        <a href="#">
            <div><i class="fas fa-home"></i></div>
            <span>Home</span>
        </a>
    </div>
    <div>
        <a href="#">
            <div><i class="fas fa-graduation-cap"></i></div>
            <span>Courses</span>
        </a>
    </div>
    <div>
        <a href="#">
            <div><i class="fas fa-chalkboard-user"></i></div>
            <span>Teachers</span>
        </a>
    </div>
    <div>
        <a href="#">
            <div><i class="fas fa-headset"></i></div>
            <span>Contact us</span>
        </a>
    </div>
    <div>
        <a href="#">
            <div><i class="fas fa-question"></i></div>
            <span>. About us</span>
        </a>
    </div>
</aside>
