<header>
    <div id="logo">
        <span>EdFouad.</span>
    </div>

    <div id="search-courses">
        <form action="/search">
            <input type="text" name="" id="" class="form-control" placeholder="search courses...">
            <button type="submit" class="btn btn-sm"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <div id="profile">
        <div class="tgg-aside">
            <i class="fas fa-bars"></i>
        </div>
        <div>
            <i class="fas fa-user"></i>
        </div>
        <div>
            <i class="fas fa-sun"></i>
        </div>
    </div>

</header>